{% extends "base.html" %}

{% block title %}
Finish Setup
{% endblock %}

{% block head %}

<link rel="stylesheet" href="/static/css/index.css">

{% endblock %}

{% block content %}

<div class="homeCard">

    <h2>Welcome back to BITSGuessr</h2>

    <p class="info-text">
        One last thing before you get started
    </p>

    <form action="/finish_oauth" method="POST">

        {% if error %}
            <p class="enterName-label">{{ error }}</p>
        {% else %}
        <label for="username" class="enterName-label">
            Username
        </label>
        {% endif %}

        <input
            id="username"
            class="enterName"
            type="text"
            name="username"
            {% if error %}
                placeholder="Try some else"
            {% else %}
                placeholder="has to be unique"
            {% endif %}
            required
            autofocus
        >

        <label for="display_name" class="enterNick-label">
            Nick
        </label>

        <input
            id="display_name"
            class="enterNick"
            type="text"
            name="display_name"
            value="{{ display_name or '' }}"
            placeholder="If it aint illegal"
            required
        >

        <button id="loginBtn" type="submit">
            Continue
        </button>

    </form>

    <div class="signature">
        ~made by Duck
    </div>

</div>

{% endblock %}