{% extends "base.html" %}

{% set show_result_stats = False %}

{% include "partials/game-hud.html" %}

{% block title %}
Game
{% endblock %}

{% block head %}

<link rel="stylesheet" href="/static/css/game.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">

{% endblock %}

{% block content %}

<div class="game-layout">

    <div id="mapModal" class="shrink">

        <button
            id="resizeMapBtn"
            type="button"
            title="Resize Map">⛶</button>

        <div id="map" class="shrink"></div>

        <form action="/round_result" method="POST">

            <input
                type="hidden"
                id="lat"
                name="lat"
            >

            <input
                type="hidden"
                id="lng"
                name="lng"
            >

            <button
                type="submit"
                id="submitBtn"
                disabled
            >
                Select Location
            </button>

        </form>

    </div>

        <div class="image-section">

            <img
                src="{{ game.current_round.challenge.image_path }}"
                alt="Challenge Image"
            >

        </div>


</div>
<button id="infoBtn"><img src="/static/images/info.png" alt="info box" height="32px" width="32px"> </button>

<div id="infoModal" class="hidden">

    <div class="info-card">

        <button id="closeInfo">&times;</button>

        <h2>⌨️ Keyboard Controls</h2>

        <div class="controls">

            <div><strong>Pan Map</strong></div>
            <div>Arrow Keys / WASD</div>

            <div><strong>Zoom In</strong></div>
            <div>+, ], E</div>

            <div><strong>Zoom Out</strong></div>
            <div>-, [, Q</div>

            <div><strong>Fullscreen</strong></div>
            <div>F</div>

            <div><strong>Place Marker</strong></div>
            <div>R</div>

            <div><strong>Submit Guess</strong></div>
            <div>Enter</div>

        </div>

    </div>

</div>

{% endblock %}

{% block scripts %}

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="/static/js/hud.js"></script>
<script src="/static/js/game.js"></script>

{% endblock %}