{% extends "base.html" %}

{% set show_result_stats = False %}

{% include "partials/game-hud.html" %}

{% block title %}
Game
{% endblock %}

{% block head %}

<link rel="stylesheet" href="/static/css/game.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">

{% endblock %}

{% block content %}

<div class="game-layout">

    <div id="mapModal" class="shrink">

        <button
            id="resizeMapBtn"
            type="button"
            title="Resize Map">⛶</button>

        <div id="map" class="shrink"></div>

        <form action="/round_result" method="POST">

            <input
                type="hidden"
                id="lat"
                name="lat"
            >

            <input
                type="hidden"
                id="lng"
                name="lng"
            >

            <button
                type="submit"
                id="submitBtn"
                disabled
            >
                Select Location
            </button>

        </form>

    </div>

        <div class="image-section">

            <img
                src="{{ game.current_round.challenge.image_path }}"
                alt="Challenge Image"
            >

        </div>


</div>

{% endblock %}

{% block scripts %}

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script src="/static/js/game.js"></script>

{% endblock %}