{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block head %}

<link rel="stylesheet" href="/static/css/index.css">

{% endblock %}

{% block content %}

<div class="homeCard">

    <h2>Welcome to BITSGuessr</h2>

    <p class="info-text">How elite is your campus ball?</p>

    <form action="/start_game" method="POST">

        <label for="player_name" class="enterName">
            name
        </label>

        <input
            id="player_name"
            type="text"
            name="player_name"
            placeholder="placeholder_final_final_really_final_v4"
            required
        >

        <button id="startBtn" type="submit" autofocus>
            Start Game
        </button>
    </form>

    <div class="signature">
        ~made by Duck
    </div>

</div>
<button id="infoBtn"><img src="/static/images/info.png" alt="info box" height="32px" width="32px"> </button>

<div id="infoModal" class="hidden">

    <div class="info-card">

        <button id="closeInfo">&times;</button>

        <div class="info-content">

            <h2>About BITSGuessr</h2>

            <p>
                <strong>BITSGuessr</strong> is a GeoGuessr-inspired game built around the BITS Goa campus. <br>
                Developed over the course of a week in a frenzy bordering mania, the game cost sleepless days, uncaffeinated nights, and isolational starvation thats kickstarted my becoming into a Buddha.<br><br>
                The result you see is in the form of rounds that show you a real photo taken somewhere on campus, and a silly little map that changes more phases than the moon while you try to pinpoint the location. <br>
                The farther your guess, the less points you earn, based on completely arbitrary rules made under mental states that should disqualify one from walking down the hallway.
            </p>

            <p>
                Press <strong>I</strong> key at any time to view the info that may or may not be helpful or visible. <br>
            </p>

            <p>
                The current version includes a couple dozen locations, with more on the way. 
                I plan to add more challenges, new locations, leaderboards, multiplayer, and additional game modes in the unseeable future, or the present, idk my visions been blurry.
            </p>

            <p>
                If you spot a bug, it was Odysseus' fault. But if you have ideas for improvements,
                or if you have a fun challenge that would put wordle #1644 to shame, feel free to get in touch. 
                Contributions and suggestions are sometimes welcome. This being one of them: <button class="imgForm" onclick="window.open('https://forms.gle/U3zFfAHEZJtArEYB9', '_blank')">Thanks for the fish</button><br>
                Have fun exploring campus from your usual perspectivjkdfbns;!
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </p>

            <h6>
                Z
            </h6><h5>
                Z
            </h5><h5>
                Z
            </h5><h5>
                Z
            </h5><h4>
                Z
            </h4><h4>
                Z
            </h4><h4>
                Z
            </h4><h3>
                Z
            </h3><h3>
                Z
            </h3><h3>
                Z
            </h3><h3>
                Z
            </h3><h2 style="color:navy;">
                Z
            </h2><h2 style="color:navy;">
                Z
            </h2><h2 style="color:navy;">
                Z
            </h2><h1>
                Z
            </h1><h1>
                Z
            </h1><h1>
                Z
            </h1><h1>
                Z
            </h1><h1>
                Z
            </h1>

            <p>
                <i>Divyanshu Rai</i>
            </p>

        </div>

    </div>

</div>


<script src="/static/js/index.js"></script>

{% endblock %}