{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block head %}

<link rel="stylesheet" href="/static/css/index.css">

{% endblock %}

{% block content %}

<div class="homeCard">

    <h2>Welcome to BITSGuessr</h2>

    <p class="info-text">How elite is your campus ball?</p>

    <form action="/start_game" method="POST">

        <label for="player_name" class="enterName">
            name
        </label>

        <input
            id="player_name"
            type="text"
            name="player_name"
            placeholder="username_v4_final_..._?"
            required
        >

        <button id="startBtn" type="submit" autofocus>
            Start Game
        </button>
    </form>

    <div class="signature">
        ~made by Duck
    </div>

</div>
<button id="infoBtn"><img class="infoImg" src="/static/images/info.png" alt="info box" height="32px" width="32px"> </button>

<div id="infoModal" class="hidden">

    <div class="info-card">

        <button id="closeInfo">&times;</button>

        <div class="info-content">

            <h2>About BITSGuessr</h2>

            <strong>BITSGuessr</strong> is a GeoGuessr-inspired game built around the BITS Goa campus. <br>
            <p>
                Developed over the course of a week in a frenzy bordering mania, the game cost sleepless days, uncaffeinated nights, and isolational starvation thats kickstarted my becoming into a Buddha.<br><br>
                The result you see is in the form of <strong>rounds</strong> that show you a real <strong>photo</strong> taken somewhere on <strong>campus</strong>, and a silly little <strong>map</strong> that changes more phases than the moon while you try to <strong> pinpoint the location.</strong> <br>
                <strong>The farther your guess, the less points you earn</strong>, based on completely arbitrary rules made under mental states that should disqualify one from walking down the hallway.
            </p>

            <p>
                Press <strong>I key</strong> at any time to view the info that may or may not be helpful or visible. <br>
            </p>

            <p>
                The current version includes a couple dozen locations, with more on the way. 
                And <strong>you</strong>, yes <i><strong>YOU</strong></i> can help by <strong>submitting your own photos!</strong><br>
                    <button class="imgForm" onclick="window.open('https://forms.gle/U3zFfAHEZJtArEYB9', '_blank')">
                    Thanks for the fish</button> <br><br>
                I <strong>plan</strong> to add <strong> more challenges, new locations, leaderboards, multiplayer, and additional game modes </strong> in the unseeable future... or the unseeable present, idk my visions been blurry.
            </p>

            <p>
                If you spot a <strong>bug</strong>, it was Odysseus' fault. But if you have <strong>ideas</strong> for improvements,
                or if you have a fun challenge that would put wordle #1644 to shame, feel free to get in touch. 
                <strong>Contributions and suggestions</strong> 
                are always<sup style="font-size:xx-small;"><small><i>*T&C Apply</i></small></sup> <strong>welcome.</strong> <br><br>

                Have fun exploring campus from your usual perspectivjkdfbns;!
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </p>

            <h6>
                Z
            </h6><h5>
                Z
            </h5><h5>
                Z
            </h5><h5>
                Z
            </h5><h4>
                Z
            </h4><h4>
                Z
            </h4><h4>
                Z
            </h4><h3>
                Z
            </h3><h3>
                Z
            </h3><h3>
                Z
            </h3><h3>
                Z
            </h3><h2 style="color:navy;">
                Z
            </h2><h2 style="color:navy;">
                Z
            </h2><h2 style="color:navy;">
                Z
            </h2><h1>
                Z
            </h1><h1>
                Z
            </h1><h1>
                Z
            </h1><h1>
                Z
            </h1><h1>
                Z
            </h1>

            <p>
                <i>Divyanshu Rai</i>
            </p>

        </div>

    </div>

</div>


<script src="/static/js/index.js"></script>

{% endblock %}